/* COLORS */
$color_primario: #fcba00;
$color_secundario: #a6a6a6;
$color_blanco: #f7f7f7;
$color_dark1: black;
$color_bg-home: #0a0a0ab7;
$color_vid_card: #1f2225c4;

/* SIZES */
$nav_heigth: 72px;
$nav_logo_heigth: 68px;
$nav_icons: 38px;

/* FONTS */
/*     
    font-family: 'Anton', sans-serif;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Urbanist', sans-serif; 
*/
$font_primario: "Anton", sans-serif;
$font_secundario: "Montserrat", sans-serif;
$font_urbanist: "Urbanist", sans-serif;
