@import 'params';

.video-cont {
    position: relative;   
    display: block;
    width: 50px;
    height: 50px;
    background-color: $color_primario;
    margin-top: 4rem;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;


    .play-btn {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        color: $color_dark1;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
            color: $color_primario;
        }
    }

    &:hover {
        background-color: $color_blanco;

    }

    
    .hm-video-card-off {
        display: none;
    }

    .hm-video-card-on {
        z-index: 888;
        display: flex;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color_vid_card;
    }
    .hm-video-wrapper {
        position: absolute;
        top: 90px;
        width: 60%;
        height: 80%;
        object-fit: contain; 
        display: flex;
        justify-content: center; 
        align-items: center;     
    }
    .home-vid {
        width: 100%;
        height: 100%;
        object-fit: contain;
        background-image: url('./media/Images/image00161.jpg');
    }
    .hm-close-icon {
        color: $color_primario;
        position: absolute;
        right: 3rem;
        top: 120px;
        transform: scale(1.9);
        cursor: pointer;
        &:hover {
            transform: scale(1.75);
        }
    }

}

.video-cont::after {
    content: 'Discover more...';
    top: 100%;
    width: 300%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: $color_blanco;

} 

/* RESPONSIVE 720 */
@media screen and (max-width: 720px) {
    .video-cont {
        .hm-video-card-on {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .hm-video-wrapper {
            top: 90px;
            width: 90%;
            height: fit-content;
            max-height: fit-content;
            top: 30%;
        }
        .home-vid {
            width: 100%;
        }
    }
}
