@import "params";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.book-now {
    width: max-content;
    padding: 1em 1.5em;
    background-color: $color_primario;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.2s ease-out;
    &:hover {
        transform: scale(0.99999);
        background-color: $color_dark1;
        color: $color_primario;
    }
}

body {
    color: $color_secundario;
    background-color: $color_dark1;
    height: 3000px;
    li {
        list-style: none;
    }

    header {
        .nav {
            z-index: 9990;
            position: fixed;
            top: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color_blanco;
        }
        .nav-ul {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            justify-content: space-between;
            gap: 1rem;

            margin: 0 1rem;
        }

        .nav-scuba-logo {
            height: $nav_heigth;
        }
        .nav-opener {
            display: none;
        }
        .nav-icon {
            height: $nav_icons;
            cursor: pointer;
            margin: 0 1rem;
            transition: all 0.15s ease-out;
            &:hover {
                transform: scale(0.95);
                box-shadow: 0px 9px 0px 0px rgba(252, 186, 0, 0.75);
                -webkit-box-shadow: 0px 9px 0px 0px rgba(252, 186, 0, 0.75);
                -moz-box-shadow: 0px 9px 0px 0px rgba(252, 186, 0, 0.75);
            }
        }
    }

    .home {
        width: 100%;
        height: 95vh;
        top: 65px;
        position: relative;
        background-image: url('/media/Images/P1010015.jpg');
        background-position: center;
        background-size: cover;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        .home-title {
            display: flex;
            flex-direction: column;
            color: $color_blanco;
            .home-title-colored {
                color: $color_primario;
            }
        }
        .home-subtitle {
            font-size: 15px;
            padding: 1.58rem 0.8rem;
            display: flex;
            flex-direction: column;
            color: $color_blanco;
            .home-subtitle-colored {
                color: $color_primario;
            }
        }
        .home-btn {
            min-width: max-content;
            max-width: 200px;
            width: 25% !important;
        }
    }

    

}

/* RESPONSIVE 720 */

@media screen and (max-width: 720px) {
    body {
        header {
            .open-off {
                display: none;
            }
            .open-on {
                display: block;
            }
            .nav-icons {
                display: none;
                position: fixed;
                top: 70px;
                left: 0;
                height: 15%;
                width: 100%;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                justify-content: space-around;
                background-color: $color_blanco;
                
            }
            .nav-icons-on {
                display: flex;
            }

            .nav-opener {
                display: block;
            }
            #nav-opener {
                transform: scale(1.95);
                cursor: pointer;
            }
            #nav-opener:hover {
                transform: scale(1.99);
            }
            #nav-closer {
                transform: scale(1.95);
                cursor: pointer;
            }
            #nav-closer:hover {
                transform: scale(1.99);
            }
        }
    }
}

/* RESPONSIVE 480 */
@media screen and (max-width: 480px) {
    body {
        header {
            .nav-icon {
                height: 60%;
                margin: 0.2rem;
            }
        }
    }
}
