@import "params";

.map-section {
    width: 100%;
    .map-wrapper {
        width: 100%;
        height: 40vh;

        #gmap_canvas {
            overflow: hidden;
            background: none !important;
            width: 100%;
            height: 100%;
        }
    }
}
