/* COLORS */
/* SIZES */
/* FONTS */
/*     
    font-family: 'Anton', sans-serif;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Urbanist', sans-serif; 
*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.primary-font {
  font-family: "Anton", sans-serif;
}

.secondary-font {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Anton", sans-serif;
}

.book-now {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.6em 1.5em;
  background-color: #fcba00;
  border: none;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: black;
}

.book-now:hover {
  -webkit-transform: scale(0.99999);
          transform: scale(0.99999);
  background-color: black;
  color: #fcba00;
}

body {
  color: #cfcfcf81;
  background-color: black;
  height: 3000px;
}

body li {
  list-style: none;
}

body .links-img {
  text-decoration: none;
  color: inherit;
  height: 38px;
}

body header .nav {
  height: 80px;
  z-index: 9990;
  position: fixed;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f7f7;
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2);
}

body header .nav-ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  margin: 0 1rem;
}

body header .nav-scuba-logo {
  height: 68px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

body header .nav-opener {
  display: none;
}

body header .nav-icon {
  height: 38px;
  cursor: pointer;
  margin: 0 1rem;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

body header .nav-icon:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  box-shadow: 0px 9px 0px 0px rgba(252, 186, 0, 0.75);
  -webkit-box-shadow: 0px 9px 0px 0px rgba(252, 186, 0, 0.75);
  -moz-box-shadow: 0px 9px 0px 0px rgba(252, 186, 0, 0.75);
}

body .home {
  padding-top: 11rem;
  z-index: 1;
  width: 100%;
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
  height: 135vh;
  position: relative;
  background-image: url("/media/Images/home-bg-main.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

body .home .home-title {
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #f7f7f7;
  font-weight: 200;
  font-size: 7.5vw;
  letter-spacing: 3px;
  text-shadow: 3px 2px 1px rgba(150, 150, 150, 0.77);
}

body .home .home-title .home-title-colored {
  color: #fcba00;
}

body .home .home-subtitle {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fcba00;
  font-size: 3vw;
  font-weight: 600;
  text-transform: uppercase;
}

body .home .home-subtitle .home-subtitle-colored {
  color: #f7f7f7;
  font-weight: 600;
  font-size: 2.8vw;
  padding: 1rem;
}

body .home .home-btn {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  max-width: 200px;
  width: 25% !important;
}

body .home::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: #0a0a0aa6;
  mix-blend-mode: multiply;
}

/* RESPONSIVE 720 */
@media screen and (max-width: 800px) {
  body header .open-off {
    display: none;
  }
  body header .open-on {
    display: block;
  }
  body header .nav-icons {
    display: none;
    position: fixed;
    top: 70px;
    left: 0;
    height: 15%;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: #f7f7f7;
  }
  body header .nav-icons-on {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 90px;
  }
  body header .nav-opener {
    display: block;
  }
  body header #nav-opener {
    -webkit-transform: scale(1.95);
            transform: scale(1.95);
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  body header #nav-opener:hover {
    -webkit-transform: scale(1.99);
            transform: scale(1.99);
  }
  body header #nav-closer {
    -webkit-transform: scale(1.95);
            transform: scale(1.95);
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  body header #nav-closer:hover {
    -webkit-transform: scale(1.99);
            transform: scale(1.99);
  }
  body .home {
    background-image: url("/media/Images/P1010092.jpg");
    height: 100vh;
  }
  body .home .home-title {
    margin-top: 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #f7f7f7;
    font-weight: 300;
    font-size: 14vw;
    letter-spacing: 3px;
  }
  body .home .home-title .home-title-colored {
    color: #fcba00;
  }
  body .home .home-subtitle {
    font-size: 1.5rem;
  }
  body .home .home-subtitle .home-subtitle-colored {
    font-size: 1.8rem;
  }
}

/* RESPONSIVE 480 */
@media screen and (max-width: 480px) {
  body header .nav-icon {
    margin: 0.2rem;
  }
  body header .icons-list {
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2);
  }
}
/*# sourceMappingURL=style.css.map */